



<a id='begin' href="#play-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">Start</a>

<div id='play-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>Hey whats up? This is level 1</h1>
     <button id='start-level'>Play</button>
    </div>
  </div>
</div>

<a id='end' href="#end-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">The end</a>

<div id='end-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>The end on level 1</h1>
			<p>Your time is <span id='your-time'></span></p>
			<button id='play-again'>play again</button>
			<button id='next-level'>Next Level</button>
      <%= form_for @update, remote: true do |f|  %>
        <%= f.hidden_field :body  %>
        <%= f.submit  %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    $('#update_body').val('hellllooooooo')
  });
  
</script>

<div class="clock"></div>

